<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 title">
                <h2 class="wow fadeIn animated" data-wow-delay="0.9s"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">Follow Us</h2>
                <ul class="social-icon">
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;"><i class="fab fa-github"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;"><i class="fab fa-android"></i></a></li>
                    <li><a href="#" class="wow bounceIn animated" data-wow-delay="0.9s"
                            style="visibility: visible; animation-delay: 0.9s; animation-name: bounceIn;"><i class="fa fa-phone"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-12 copyright">
                <p>Copyright © 2084 Company Name | Design: <a target="_blank" rel="nofollow"
                        href="http://www.templatemo.com">template mo</a></p>
            </div>
        </div>
    </div>
</footer>